section{
    display:block;
    width: 270px;
    height: 585px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
}
.volver{
    margin-top: 30px;
    margin-left: 20px;
}

.pausa{
    margin-top: 30px;
    margin-left: 70px;
}
.musica{
    margin-top: 30px;
    margin-left: 70px;
}
.musica2{
    margin-top: 30px;
    margin-left: 160px;
}
#tiempo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0px;
}
.puntaje{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#texto-perdiste{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#texto-pausa{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#numeros{
    width: 100px;
    height: 100px;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 90px;
}

#pez_comida{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

#pez{
    margin: 30px;
}
#comida{
    margin: 30px;
}




.puntaje-pausa{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
}

.volver_jugar{
    margin: 60px;
}

#divgif{
    margin-top:100px; 
}

#splash{
    width: 200px;
    height: 150px;
    display:block;
    margin:auto;
}

.tiempo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0px;
}

#menu{
    width: 200px;
    background-color: #eee;
    color: black;
    display: block;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    text-align: center;
}

#menu2{
    width: 200px;
    background-color: #eee;
    color: black;
    display: block;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    text-align: center;
}


#foto{
    position: relative;
    width: 50px;
    height: 50px;
    display:block;
}







.musicamenu{
    margin-top: 30px;
    margin-left: 218px;
}





.oculto{
    display: none;
}